# Ignorar ambiente virtual
finai-backend/venv/
__pycache__/

# Ignorar variáveis de ambiente (CRÍTICO)
finai-backend/.env

# Ignorar pastas do sistema operacional
.DS_Store

# Ignorar arquivos compilados do Python
*.pyc 

# Ignorar a pasta "Documentos" e seu conteúdo
Documentos/ 